/* line 3, ../sass/style.scss */
.panel {
  margin-bottom: .5em; }
  /* line 6, ../sass/style.scss */
  .panel h4.link a {
    color: #333; }
  /* line 9, ../sass/style.scss */
  .panel .callout {
    background-color: #333;
    background: #666;
    border-color: #000; }
  /* line 15, ../sass/style.scss */
  .panel .keystroke {
    background-color: #fff;
    color: #2ba6cb; }
  /* line 21, ../sass/style.scss */
  .panel .label.vote_up {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 7px; }
    /* line 25, ../sass/style.scss */
    .panel .label.vote_up:hover {
      -webkit-box-shadow: #3b3b3b 1px 1px 1px;
      -moz-box-shadow: #3b3b3b 1px 1px 1px;
      box-shadow: #3b3b3b 1px 1px 1px; }
  /* line 27, ../sass/style.scss */
  .panel .label.vote_down {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 7px; }
    /* line 31, ../sass/style.scss */
    .panel .label.vote_down:hover {
      -webkit-box-shadow: #3b3b3b 1px 1px 1px;
      -moz-box-shadow: #3b3b3b 1px 1px 1px;
      box-shadow: #3b3b3b 1px 1px 1px; }
