@import "compass/css3";

.panel {
	margin-bottom: .5em;

	h4.link a {
		color:#333;
	}
	.callout {
		background-color: #333;
		background: #666;
		border-color: #000;
	}

	.keystroke {
		background-color: #fff;
		color:#2ba6cb;
	}

	.label {
		&.vote_up{
			 @include border-radius(15px);
			 padding: 7px;
			 
			 &:hover{ @include box-shadow(#3b3b3b 1px 1px 1px);}
		}
		&.vote_down {
			 @include border-radius(15px);
			padding:7px;
		
			&:hover{ @include box-shadow(#3b3b3b 1px 1px 1px);}
		}
	}
}